@media(min-width: 700px) and (max-width: 1000px) {
    .imagem im {
        width: 200px;
    }
}

@media(max-width :699px) {
    .imagem img {
        justify-content: center;
    }
    .imagem img {
        width: 250px;
    }
}

.caisaSobre {
    display: block;
}